/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}

nav h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

#sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Initially hidden */
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    transition: left 0.3s ease;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
}

#sidebar.open {
    left: 0; /* Show sidebar */
}

#sidebar h2 {
    margin-top: 0;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    margin-bottom: 15px;
}

#sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para la sección de habitaciones */
#habitaciones {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

/* Contenedor principal de cada habitación */
.habitacion-container {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.habitacion-container:hover {
    transform: translateY(-5px);
}

/* Contenedor de la imagen */
.habitacion-imagen-container {
    flex: 1;
    margin-right: 20px;
}

.habitacion-imagen {
    width: 100%;
    border-radius: 15px;
}

/* Contenedor de la información */
.habitacion-info {
    flex: 2;
}

.habitacion-titulo {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.habitacion-categoria {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
}

.habitacion-detalles {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.habitacion-precio {
    font-size: 1.2rem;
    background-color: #D29477;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
}

.habitacion-precio:hover {
    background-color: #C37A5D;
}


